!<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>Tài khoản của bạn đang trong trạng thái không hoạt động nên không thể đăng nhập được vào hệ thông</p>
<p>Vui lòng quay lại đăng nhập hoặc liên hệ Admin để được giải quyết !!</p>

</body>
</html>